@model IEnumerable<eproj.Models.product>
@{
    ViewBag.Title = "jewellery";
    Layout = "~/Views/shared/_Layout1.cshtml";
}



<style>
    [data-quantity] {
        position: relative;
        width: 100%;
        max-width: 11rem;
        padding: 0;
        margin: 0;
        border: 0;
    }

        [data-quantity] legend {
            display: none;
        }

        [data-quantity] input {
            font-size: 18px;
            height: 4rem;
            padding: 0 4rem;
            border-radius: 2rem;
            border: 0;
            background: #fff;
            color: #222;
            box-shadow: 0 10px 65px -10px rgba(0, 0, 0, 0.25);
            text-align: center;
            width: 100%;
            box-sizing: border-box;
            font-weight: lighter;
        }

            [data-quantity] input:focus {
                outline: none;
                box-shadow: 0 5px 55px -10px rgba(0, 0, 0, 0.2), 0 0 4px #3fb0ff; /* Allows border radius on focus */
            }

            [data-quantity] input[type=number]::-webkit-inner-spin-button,
            [data-quantity] input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            [data-quantity] input[type=number] {
                -moz-appearance: textfield;
            }

        [data-quantity] button {
            position: absolute;
            width: 2.8rem;
            height: 2.8rem;
            top: 0.6rem;
            display: block;
            padding: 0;
            margin: 0;
            border: 0;
            background: #fff url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><path d="M17 25h16M67 25h16M75 17v16" fill="none" stroke="rgb(59,69,66)" stroke-width="1.5px" stroke-linecap="round" stroke-linejoin="round" /></svg>') no-repeat 0 0;
            background-size: 5.6rem 2.8rem;
            overflow: hidden;
            white-space: nowrap;
            text-indent: 100%;
            border-radius: 1.4rem;
            cursor: pointer;
            transition: opacity 0.15s;
            opacity: 0.5;
        }

            [data-quantity] button:active {
                background-position-y: 1px;
                box-shadow: inset 0 2px 12px -4px #c5d1d9;
            }

            [data-quantity] button:focus {
                outline: none;
            }

            [data-quantity] button:hover {
                opacity: 1;
            }

            [data-quantity] button.sub {
                left: 0.6rem;
            }

            [data-quantity] button.add {
                right: 0.6rem;
                background-position-x: -2.8rem;
            }
</style>
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Jewellery</h1>
                    <ol class="breadcrumb">
                        <li><a href="/home/index">Home</a></li>
                        <li class="active">Jewellery</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="products section">
    <div class="container">

        <div class="row">

@foreach (var item in Model)
{

                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-thumb">
                            <img class="img-responsive" src="@Url.Content("~/pimage/" + item.productimg)" alt="product-img" />
                            <div class="preview-meta">
                                <ul>
                                    <li>
                                        <span data-toggle="modal" data-target="#@item.pro_id">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </span>
                                    </li>
                                    <li>
                                        <input type="hidden" name="price" value="@item.price" />
                                        <a href="#"><i class="tf-ion-ios-heart"></i></a>
                                    </li>
                                    <li>

                                        <a href="@Url.Action("addcart", "home", new { id = item.pro_id })"><i class="tf-ion-android-cart"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-content">
                            <h4>@item.product_name</h4>

                            <p class="price" name="price">$@item.price</p>
                        </div>
                    </div>
                </div>

              <!---modal-->
                            <div class="modal product-modal fade" id="@item.pro_id">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <i class="tf-ion-close"></i>
                                </button>
                                <div class="modal-dialog " role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-6 col-xs-12">
                                                    <div class="modal-image">

                                                        <img class="img-responsive" src="@Url.Content("~/pimage/" + item.productimg)" alt="product-img" />
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 col-xs-12">
                                                    <div class="product-short-details">
                                                        <h2 class="product-title">@item.product_name</h2>
                                                        <p class="product-price">$@item.price</p>
                                                        <input type="hidden" name="price" value="@item.price" />
                                                        <p class="product-short-description">
                                                            @item.description
                                                        </p>
                                                        <p>product id= @ViewBag.proid</p>
                                                        <br />
                                                        <form action="/home/addcart?id=@item.pro_id" method="post">

                                                            <div class="product-quantity">
                                                                <span>Quantity:</span>
                                                                <div data-quantity>
                                                                    <input id="product-quantity" class="product-quantity" type="number" value="1" name="cqty" />
                                                                </div>

                                                                <fieldset data-quantity>
                                                                    <legend>Change quantity</legend>
                                                                </fieldset>
                                                            </div>
                                                            <br />


                                                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                                                        </form>
                                                        <br />
                                                        <div class="product-category">
                                                            <span>Categories: </span>
                                                            <ul>
                                                                @item.category.cate_name
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>



                            </div>



            }

        </div>
            

    </div>


    <script>

    (function () {
        let quantities = document.querySelectorAll('[data-quantity]');

        if (quantities instanceof Node) quantities = [quantities];
        if (quantities instanceof NodeList) quantities = [].slice.call(quantities);
        if (quantities instanceof Array) {
            quantities.forEach(div => (div.quantity = new QuantityInput(div, 'Down', 'Up')));
        }
    })();

    </script>

</section>

