@model IEnumerable<eproj.Models.employee>
@{
    ViewBag.Title = "profile";
    Layout = "~/Views/shared/_Layout1.cshtml";
}


<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Dashboard</h1>
                    <ol class="breadcrumb">
                        <li><a href="/home/index">Home</a></li>
                        <li class="active">Profile Details</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="user-dashboard page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline dashboard-menu text-center">
                    <li><a href="/admn/login">Dashboard</a></li>
                    <li><a href="/home/orders">Orders</a></li>
                    <li><a href="/home/address">Address</a></li>
                    <li><a class="active" href="/home/profile">Profile Details</a></li>
        
                
                        </ul>

@foreach (var item in Model)
{

                <div class="dashboard-wrapper dashboard-user-profile">
                    <div class="media">

                        <div class="pull-left text-center">

                   
                    <img class="img-responsive media-object user-img" src="@Url.Content("~/pimage/" + item.eimg)"  alt="Image" />
                            </div>

                        <div class="media-body">
                            <ul class="user-profile-list">
                                <li><span>Full Name:</span>@item.emp_username</li>
                                <li><span>Country:</span>@item.country</li>
                                <li><span>Email:</span>@item.emp_email</li>
                                <li><span>Phone:</span>@item.phone</li>
                                <li><span>Date Of Birth:</span>@item.date_of_birth</li>


                               
                            </ul>
                            
                        </div>







                </div>

            </div>
}


        </div>


    </div>
        </div>
        
</section>